*.pkl
MIDI_files/
LSTM/results/
LSTM/Generated_MIDIs/
*.pyo
*.pyc
*~
.ipynb_checkpoints/
Final_Fantasy/
ConvGan/plots/
ConvGan/plots_linear/
ConvGan/results/
ConvGan/results_linear/
ConvGan/plots*
*.png