*.pkl
MIDI_files/
LSTM/results/
LSTM/Generated_MIDIs/
*.pyo
*.pyc
*~
.ipynb_checkpoints/
Final_Fantasy/
ConvGan/plots/
ConvGan/plots_linear/
ConvGan/results/
ConvGan/results_linear/
ConvGan/plots*
ConvGan/results*
ConvGan/presentation/
WassGAN/plots_boost10_clip0.001/
WassGAN/plots_boost10_clip0.1/
ConvGAN/plots_nonsquare3/
WassGAN/midis/
WassGAN/plots_boost5_clip0.01/
*.png
*.h5
*.pdf
*.gif
*stderr.txt
*stdout.txt
*.mid